*{
    margin: 0;
    padding: 0;
}
body{
    overflow-x: hidden;
}

a, .nav-list label{
   color: #fff;
   text-decoration:none; 
}
a:hover ,.nav-list label:hover{
    opacity: 0.7;
    
}
.logo {
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-family: Arial;
    margin-left: 20px;
}
nav {
    display:flex;
    justify-content: space-between;
    align-items:center;
    background:#23232e;
    height:8vh;
}
.nav-list{
    list-style:none;
    display:flex;
    position: absolute;
    top:8vh;
    right: 0;
    width:25vw;
    height:92vh;
    background:#23232e;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
    transform: translateX(100%);
    transition: transform 0.3s ease-in;
}
.nav-list li{
    margin-top: 10px;
    letter-spacing:3px;
    margin-left:0px;
    opacity: 1;
}
.mobile-menu{
    cursor: pointer;
    display: block;
}
.mobile-menu div{
    width:32px;
    height:2px;
    background:#fff;
    margin:8px;
    transition:0.3s;
}
.nav-list.active{
    transform: translateX(0);
}

@keyframes navLinkFade {
    from{
        opacity:0;
        transform: translateX(50px);
    }
    to {
        opacity:1;
        transform: translateX(0);
    }
}

.mobile-menu.active .line1{
    transform:rotate(-45deg) translate(-8px,8px);
}

.mobile-menu.active .line2{
    opacity:0;
}

.mobile-menu.active .line3{
    transform:rotate(45deg) translate(-5px,-7px);
}